body {
    margin: 0;
    padding: 0;
}

.slider {
     background: #357EFE;
     min-width: 1000px;
     height: 400px;
     width: 50%;
     position: relative;
     border-radius: 8px;
     margin: 20px;
     overflow: hidden; /* to hide all that is overflow */
}

.slide {
    display: flex;
    width: 100%;
    height: 100%;
    transition: opacity ease-in-out;
}

.left {
    flex: 1;
    padding: 0 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.right {
    width: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text {
    color: white;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    margin-bottom: 34px;
}

.name {
    font-weight: 700;
    color: white;
    font-size: 18px;
    line-height: 140%;
}

.jobPosition {
    color: white;
    font-size: 17px;
    line-height: 140%;
}

 

.arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    opacity: 0.6;
    cursor: pointer;
}

.arrow:hover {
    opacity: 1;
}

.arrowLeft {
    left: 24px;
    top: calc(50% - 20px); /* to position arrow right in center by hight */
    transform: rotate(180deg);
}

.arrowRight {
    right: 24px;
    top: calc(50% - 20px); /* to position arrow right in center by hight */
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}